.container {
  max-width: 1240px;
  margin: 20px;
  background-color: $primary-color;
  height: 100vh;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  background-color: $primary-color;
}

.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  background-color: $primary-color;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  animation: fadeIn 0.5s ease-out;
}

.searchBox {
  position: relative;
  display: flex;
  width: 340px;
  align-items: center;
  
  .searchIcon {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 16px;
    pointer-events: none;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px 32px 10px 36px;
    border: 1px solid $input-border;
    border-radius: 8px;
    font-size: 14px;
    background: $input-bc;
    color: $input-border-focus;
    caret-color: $input-border-focus;
    
    &:focus {
      outline: none;
      border-color: $input-border-focus;
    }

    &::placeholder {
      color: $input-placeholder;
    }
  }
  
  .clearSearchBtn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: $input-border-focus;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.navigate {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-bottom: 20px;
}

.toggle{ 
  background-color: $primary-color;
  border: none;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 12px;
  font-family: $font-base;
  * {
    font-size: 16px;
  }
}

.pageNumbers {
  display: flex;
  gap: 4px;
}

.pageButton {
  background: none;
  color: $pag-color;
}

.pageNumber {
  color: $pag-color;
  background: none;
  padding: 2px 6px;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  background-color: $pag-init;
  border-radius: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 24px;
  }

  .searchBox {
    width: 296px;
  }

}

@media (max-width: 320px) {

  .grid {
    grid-template-columns: 1fr;
  }


  .searchBox {
    width: 224px;
  }
}