.container {
  max-width: 1240px;
  margin: 20px;
  background-color: $primary-color;
  height: 100vh;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  background-color: $primary-color;
}

.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  background-color: $primary-color;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 32px;
  animation: fadeIn 0.5s ease-out;
}

.search-box {
  position: relative;
  width: 336px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 8px 12px 8px 40px;
  background-color: $input-bc;
  font-size: 14px;
  border: 1px solid $input-border;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s;
}

.search-input:focus {
  border-color: $input-border-focus;
  caret-color: $input-border-focus;
}

.search-input::placeholder {
  color: $input-placeholder;
}

.navigate {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-bottom: 20px;
}

.toggle{ 
  background-color: $primary-color;
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 24px;
  }

  .search-box {
    width: 296px;
  }

}

@media (max-width: 320px) {

  .grid {
    grid-template-columns: 1fr;
  }


  .search-box {
    width: 224px;
  }
}